<html>
<title>Expenses</title>

<body>
<center>  
    <h1 style="font-family:verdana;">Enter Purchase Details</h1 >
    <form action="", method="post" >
             
        <p><h2>Item name.....</h2></p>
        <p><input type="text" name="itm" /></p>
      
        <p><h2>Price......</h2></p>
        <input type="text" name="pric"  />
        
        <p><h2>Quantity......</h2></p>
        <input type="text" name="quantiti"  />
        
        <p><h2>Payment Mode......</h2></p>
        <input type="text" name="paymant"  />
        
        <p><h2>Happy with the purchase??....</h2></p>
        <input type="text" name="happi"  /><br><br>
        
        
        
        <input type="submit" value="Save">
        <input type="reset" value="Clear">
      
    </form>
    <form action="success">
        <input type="submit" value="Go to Dashboard"  />
    </form>
</center>  
</body>
</html>
