<html>
<title>Expenses</title>

<body>
<center>  
    <h2>Enter Purchase Details</h2>
    <form action="", method="post" >
             
        <p>Item name.....</p>
        <p><input type="text" name="itm" /></p>
      
        <p>Price......</p>
        <input type="text" name="pric"  />
        
        <p>Quantity......</p>
        <input type="text" name="quantiti"  />
        
        <p>Payment Mode......</p>
        <input type="text" name="paymant"  />
        
        <p>Happy with the purchase??....</p>
        <input type="text" name="happi"  /><br><br>
        
        
        
        <input type="submit" value="Save">
        <input type="reset" value="Clear">
      
    </form>
    <form action="success">
        <input type="submit" value="Go to Dashboard"  />
    </form>
</center>  
</body>
</html>